###############################
##### Grid Specifications #####
###############################

im:  257                    # I gridpoints
jm:  181                    # J gridpoints
lm:  32                     # Number of atmospheric layers

tph0d:   0.                 # Central geographic latitude of grid (degrees)
tlm0d:   0.                 # Central geographic longitude of grid (degrees, positive east)

wbd:  -180.                 # Grid's western boundary (rotated degrees)
sbd:  -90.                  # Grid's southern boubdary (rotated degrees)


##############################
##### Grid Decomposition #####
##############################

inpes:  03                  # Number of compute tasks in the I direction
jnpes:  03                  # Number of compute tasks in the J direction


##########################################
##### Fundamental Timestep (seconds) #####
##########################################

dt_int: 240                 # Integer seconds
dt_num: 0                   # Numerator of fractional second
dt_den: 1                   # Denominator of fractional second


########################################
##### Forecast Time Specifications #####
########################################

start_year:   2005   
start_month:  6
start_day:    21
start_hour:   12
start_minute: 0
start_second: 0

nhours_fcst:     24         # Length of the forecast (hours)
nhours_history:  06         # Frequency of history output (hours)

restart:  false             # True--> A restarted run


#########################
##### General modes #####
#########################

global:  true               # True--> Global ; False--> Regional
hydro:   false              # True--> Hydrostatic ;  False--> Nonhydrostatic


##############################
##### Lateral Boundaries #####
##############################

specified:  true
nested:     false


########################################
##### Read/Write Global Summations #####
########################################

read_global_sums:  false    # Read in global summations or not
write_global_sums: true     # Write out global summations or not


##################################
### Precipitation Assimilation####
##################################

pcpflg:  false              # True--> assimilation on ; False--> assimilation off


##################################
##### Physics Scheme Options #####
##################################

#---------------------------------
shortwave:  gfdl            # Radiation schemes
longwave:   gfdl        
                                # gfdl--> GFDL (shortwave and longwave)
                                # gsfc--> Goddard shortwave
                                # dudh--> Dudhia shortwave
                                # rrtm--> RRTM longwave

co2tf:  0                       # co2tf--> Read (0) or generate internally (1)
                                #          the GFDL CO2 transmission functions

#---------------------------------
convection:  bmj            # Convection schemes
                                # bmj--> Betts-Miller-Janjic
                                #  kf--> Kain-Fritsch
                                # sas--> Simplified Arakawa-Schubert
                                #  gd--> Grell-Devenyi

#---------------------------------
microphysics:  fer          # Microphysics schemes
                                # fer--> Ferrier
                                # kes--> Kessler
                                # lin--> Lin
                                # tho--> Thompson

#---------------------------------
turbulence:  myj            # Turbulence schemes
                                # fer--> Ferrier
                                # kes--> Kessler
                                # lin--> Lin
                                # tho--> Thompson
                                                                                                                                              
#---------------------------------
                                                                                                                                              
sfc_layer:  myj             # Surface layer schemes
                                # myj--> Mellor-Yamada-Jamnjic
                                # mm5--> MM5 sfc layer
                                                                                                                                              
#---------------------------------
                                                                                                                                              
land_surface:  nmm          # Land surface schemes
                                # nmm-->  LSM NMM
                                # noah--> NOAH scheme
                                                                                                                                              
#---------------------------------

gfs:  false                 # Select entire GFS physics suite 


#############################
##### Physics Timesteps #####
#############################

nrads:  15                  # Number of dynamics timesteps between calls to shortwave
nradl:  15                  # Number of dynamics timesteps  between calls to longwave

nphs:  3                    # Number of dynamics timesteps between calls to landsurface and turbulence

nprecip:  3                 # Number of dynamics timesteps between calls to convection and microphysics
